<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">



    <div>
        <h1>Welcome. Is this you?</h1>
        <div id="user-details">
            <ul>
                <li>Username: <%= user.username %></li>
                <li>Email: <%= user.email %></li>
                <li>County: <%= user.county %></li>
            </ul>
            
        </div>
        <a href="/logout" class='text-center new-account'>Logout</a>


    </div>
    <div id="scripts_container">
        <% include ../partials/scriptsToLoad %>
    </div>
</body>
</html>