<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">



    <div>
        <h1>Sign into the Economic Citizenship App:</h1>
        <div id="account-wall">
            <form class="form-signin" action="/login" method='POST' role="form">
            <input type="text" name="username" class="form-control" placeholder='Username'>
            <input type = "text" name="password" class="form-control" placeholder='Password'>
            <button class="btn btn-default" type='submit'>Sign in</button>
            </form>
        </div>
        <a href="/signup" class='text-center new-account'>Register for a new account.</a>


    </div>
    <div id="scripts_container">
        <% include ../partials/scriptsToLoad %>
    </div>
</body>
</html>